* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#skill {
  background-color: #181e38;
  height: 85vh;
}
.skill__description {
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  text-align: justify;
}
.skills {
  padding-top: 13rem;
  width: 80rem;
  margin-right: auto;
  margin-left: auto;
}
.skillBars {
  margin-top: 3rem;
  width: 80rem;
  margin-right: auto;
  margin-left: auto;
}
.skillBars h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  color: #181e38;
}
.skillBars__langages h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: #181e38;
}
.skillBars__experiences {
  overflow: hidden;
  width: 100vw;
  max-width: 75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.skillBars__experience_img {
  width: 5rem;
  object-fit: cover;
  margin-right: 2rem;
}
.skillBars__experience_img img {
  width: 100%;
}
.skillBars__descriptions {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  color: #181e38;
}
.skillBars__experience {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  box-shadow: 1px 2px 9px -1px #000000;
  background-color: #51c6c6;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.skillBars__experienceText {
  color: #181e38;
  font-weight: 300;
  font-size: 1.5rem;
}
/*---------------------Media Queries----------------------*/
@media screen and (max-width: 1100px) {
  .skills,
  .skillBars,
  .skillBars h2,
  .skillBars__langages h3,
  .skillBars__experience,
  .skillBars__experienceText {
    width: 100%; 
  }
  .row{
    margin-left: auto;
    margin-right: auto;
  }

  .skills,
  .skillBars {
    padding-left: 1rem;
    padding-right: 1rem; 
  }

  .skillBars__experience {
    max-width: 100%;
  }
  .skills {
    padding-top: 13rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.experience {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  box-shadow: 1px 2px 9px -1px #000000;
  background-color: #1d233f;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.experiences__List {
  width: 100vw;
  max-width: 75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* margin: 0 auto; */
}
.skill__description {
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}
}
