:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #66cccc;
}
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li a:hover {
  color: #fff;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #fff;
}
a {
  text-decoration: none;
  margin: 1rem;
  color: #181e38;
  font-size: larger;
}
.logo {
  width: 4rem;
  object-fit: cover;
}
.logo img {
  width: 100%;
}

h1 {
  font-weight: bolder;
}
.linkContact {
  width: 1rem;
  background-color: #181e38;
  color: #66cccc;
}
.buttonAbout {
  margin-top: 3.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #66cccc;
  color: #181e38;
}
.aboutContent {
  width: 100vw;
  max-width: 86rem;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  font-weight: bolder;
  margin: 0 auto;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 500;
  height: 39rem;
}
.downloadButton {
  background-color: #66cccc;
  color: #181e38;
  text-align: center;
  margin: 1rem;
  border-radius: 0.5rem;
}
.hello {
  font-size: 1.75;
  font-weight: 100;
}
.aboutName {
  color: #fff;
}
.para {
  font-size: medium;
  font-weight: 500;
}
.hero {
  background-color: #181e38;
  height: calc(100vh - 6rem);
}
.aboutAvatar__img {
  padding: 0;
}
.aboutAvatar__img img {
  width: 100%;
  object-fit: cover;
}
.aboutContent_text {
  margin-top: 12rem;
}

/*---------------------Media Queries----------------------*/
@media screen and (max-width: 990px) {
  body {
    background-color: #66cccc;
  }

  nav {
    flex-direction: column;
  }
  .aboutContent {
    height: auto;
    flex-direction: column;
  }
  .aboutContent_text {
    margin-top: 1rem;
  }
  .aboutContent a {
    font-size: medium;
    font-weight: bold;
  }
  .hero{
      background-color: #181e38;
      text-align: center;
      height: auto;
  
  }
}

