:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
  margin: 1rem;
  color: black;
}
.logo{
  width: 5rem;
}
.logo img{
  width: 100%;
}